*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial, sans-serif;
background:#000;
color:white;
overflow-x:hidden;
}

.hero{
position:relative;
min-height:120vh;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
}

.hero-img{
position:absolute;
width:100%;
height:100%;
object-fit:cover;
filter:brightness(0.35);
}

.hero-content{

position:relative;
z-index:2;
text-align:center;
padding:20px;
padding-bottom:120px;

}

.hero-content h1{
font-size:4rem;
color:#FFD700;
text-shadow:0 0 20px gold;
}

.hero-content h2{
font-size:7rem;
margin-top:10px;
color:white;
animation:glow 2s infinite alternate;
text-shadow:0 0 30px #fff;
}

.hero-content p{
margin-top:20px;
font-size:1.3rem;
letter-spacing:3px;
}

#enterBtn{
margin-top:30px;
padding:15px 40px;
font-size:1.1rem;
border:none;
border-radius:50px;
background:linear-gradient(45deg,#FFD700,#ff9800);
cursor:pointer;
font-weight:bold;
transition:.3s;
}

#enterBtn:hover{
transform:scale(1.1);
}

@media(max-width:768px){

.hero-content h1{
font-size:2rem;
}

.hero-content h2{
font-size:3rem;
}

.hero-content p{
font-size:1rem;
}
}
#secretBtn{

margin-top:15px;

padding:15px 40px;

font-size:1rem;

border:none;

border-radius:50px;

background:linear-gradient(
45deg,
#ff4d6d,
#ff85a2
);

color:white;

cursor:pointer;

font-weight:bold;

transition:.3s;
}

#secretBtn:hover{

transform:scale(1.1);
}
#factsBtn{

margin-top:15px;

padding:15px 40px;

font-size:1rem;

border:none;

border-radius:50px;

background:linear-gradient(
45deg,
#00c853,
#64dd17
);

color:white;

cursor:pointer;

font-weight:bold;

transition:.3s;
}

#factsBtn:hover{

transform:scale(1.1);
}
#awardBtn{

margin-top:15px;

padding:15px 40px;

font-size:1rem;

border:none;

border-radius:50px;

background:linear-gradient(
45deg,
gold,
orange
);

color:black;

cursor:pointer;

font-weight:bold;

transition:.3s;
}

#awardBtn:hover{

transform:scale(1.1);

box-shadow:
0 0 20px gold;
}
#dontBtn{

margin-top:15px;

padding:15px 40px;

font-size:1rem;

border:none;

border-radius:50px;

background:linear-gradient(
45deg,
#ff1744,
#ff5252
);

color:white;

cursor:pointer;

font-weight:bold;

transition:.3s;
}

#dontBtn:hover{

transform:scale(1.1);

box-shadow:
0 0 20px red;
}
#meterBtn{

margin-top:15px;

padding:15px 40px;

font-size:1rem;

border:none;

border-radius:50px;

background:linear-gradient(
45deg,
#ff69b4,
#ff1493
);

color:white;

cursor:pointer;

font-weight:bold;

transition:.3s;
}

#meterBtn:hover{

transform:scale(1.1);

box-shadow:
0 0 20px hotpink;
}
.gallery{
margin-top:80px;

padding:80px 20px;

background:#050505;

text-align:center;

}

.gallery h2{

font-size:3rem;

color:gold;

margin-bottom:40px;

text-shadow:0 0 15px gold;

}

.gallery-grid{

display:grid;

grid-template-columns:
repeat(3,1fr);

gap:25px;

max-width:1200px;

margin:auto;

}

.gallery-grid img{

width:100%;

height:420px;

object-fit:cover;

border-radius:20px;

border:3px solid gold;

transition:.4s;

cursor:pointer;

}

.gallery-grid img:hover{

transform:
scale(1.05)
rotate(1deg);

box-shadow:
0 0 30px gold;

}
#lightbox{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.95);

display:none;

justify-content:center;
align-items:center;

z-index:9999;

}

#lightboxImg{

max-width:90%;
max-height:90%;

border-radius:20px;

border:4px solid gold;

box-shadow:
0 0 40px gold;

}

#closeLightbox{

position:absolute;

top:25px;
right:35px;

font-size:2rem;

color:white;

cursor:pointer;

font-weight:bold;

}
.letter-section{

padding:100px 20px;

background:#080808;

display:flex;

justify-content:center;

}

.letter-card{

max-width:900px;

padding:50px;

background:rgba(255,255,255,0.05);

border:2px solid gold;

border-radius:25px;

backdrop-filter:blur(10px);

box-shadow:
0 0 30px rgba(255,215,0,0.3);

}

.letter-card h2{

text-align:center;

font-size:3rem;

color:gold;

margin-bottom:30px;

}

.letter-card p{

font-size:1.3rem;

line-height:2;

text-align:center;

color:white;

}
.certificate-section{

padding:120px 20px;

background:#050505;

display:flex;

justify-content:center;

}

.certificate{

max-width:1000px;

width:100%;

padding:60px;

border:4px solid gold;

border-radius:25px;

text-align:center;

background:
linear-gradient(
135deg,
rgba(255,215,0,.08),
rgba(255,255,255,.03)
);

box-shadow:
0 0 40px rgba(255,215,0,.3);

}

.certificate h2{

color:gold;

font-size:3rem;

margin-bottom:20px;

}

.certificate h3{

color:#ddd;

font-size:1.5rem;

}

.certificate h1{

font-size:4rem;

margin:25px 0;

color:white;

}

.certificate p{

font-size:1.3rem;

line-height:2;

}

.signatures{

margin-top:40px;

display:flex;

justify-content:space-around;

font-size:1.2rem;

}
#friendshipModal{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,.92);

display:none;

justify-content:center;
align-items:center;

z-index:9999;

}

.friendshipCard{

width:90%;
max-width:600px;

padding:40px;

background:#111;

border:3px solid gold;

border-radius:25px;

text-align:center;

box-shadow:
0 0 40px gold;

}

.friendshipCard h2{

color:gold;

margin-bottom:25px;

}

.meterBox{

width:100%;

height:30px;

background:#333;

border-radius:50px;

overflow:hidden;

margin-bottom:20px;

}

#meterFill{

height:100%;

width:0%;

background:
linear-gradient(
90deg,
#ff4d6d,
gold
);

transition:1s;

}

#meterText{

font-size:4rem;

margin:20px 0;

}

#meterMessage{

font-size:1.2rem;

margin:20px 0;

}

#closeMeter{

padding:15px 30px;

border:none;

border-radius:30px;

background:gold;

font-weight:bold;

cursor:pointer;

}#messageModal{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,.9);

display:none;

justify-content:center;
align-items:center;

z-index:9999;

}

.messageCard{
animation: pop .4s ease;

width:90%;
max-width:650px;

padding:40px;

background:#111;

border:2px solid gold;

border-radius:25px;

text-align:center;

box-shadow:
0 0 35px gold;

animation:pop .3s ease;

}

.messageCard h2{

color:gold;

margin-bottom:20px;

}

.messageCard p{

font-size:1.3rem;

line-height:1.8;

}

#closeMessage{

margin-top:25px;

padding:12px 25px;

border:none;

border-radius:30px;

background:gold;

font-weight:bold;

cursor:pointer;

}

@keyframes pop{

from{

transform:scale(.7);
opacity:0;

}

to{

transform:scale(1);
opacity:1;

}

}
@keyframes awardReveal{

0%{
transform:scale(.4);
opacity:0;
}

50%{
transform:scale(1.1);
}

100%{
transform:scale(1);
opacity:1;
}

}
#messageContent{
    line-height: 2.2;
    font-size: 24px;
    text-align: center;
}
#birthdayIntro{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;
overflow:hidden;
background:
linear-gradient(
135deg,
#000,
#1a001f,
#000
);

display:none;

justify-content:center;
align-items:center;

text-align:center;

z-index:99999;

}

.introContent h1{

font-size:4rem;

color:gold;

animation:pulse 1.5s infinite;

}

.introContent h2{

font-size:5rem;

margin:20px 0;

color:white;

text-shadow:
0 0 30px hotpink;

}

.introContent p{

font-size:1.5rem;

margin-bottom:30px;

}

#startParty{

padding:18px 40px;

border:none;

border-radius:50px;

font-size:1.2rem;

font-weight:bold;

background:gold;

cursor:pointer;

}

@keyframes pulse{

0%{
transform:scale(1);
}

50%{
transform:scale(1.08);
}

100%{
transform:scale(1);
}

}
.balloon{

position:absolute;

bottom:-200px;

width:90px;

height:120px;

border-radius:50%;

animation:floatUp 10s linear infinite;

z-index:1;

}

.balloon::after{

content:"";

position:absolute;

width:2px;

height:120px;

background:white;

left:50%;

top:120px;

}

.balloon1{

left:10%;

background:#ff4d6d;

}

.balloon2{

left:30%;

background:#00c853;

}

.balloon3{

left:50%;

background:#2196f3;

}

.balloon4{

left:70%;

background:#ff9800;

}

.balloon5{

left:90%;

background:#e91e63;

}

@keyframes floatUp{

0%{

transform:
translateY(0)
rotate(-5deg);

}

50%{

transform:
translateY(-60vh)
rotate(5deg);

}

100%{

transform:
translateY(-140vh)
rotate(-5deg);

}

}
#fireworks{

position:absolute;

top:0;
left:0;

width:100%;
height:100%;

pointer-events:none;

z-index:0;

}
#musicToggle{

position:fixed;

top:20px;

right:20px;

width:60px;
height:60px;

border:none;

border-radius:50%;

background:gold;

font-size:24px;

cursor:pointer;

z-index:99999;

box-shadow:0 0 20px gold;

}
#typingText{

font-size:1.3rem;

letter-spacing:3px;

min-height:30px;

}.timeline-section{

padding:100px 20px;

background:#070707;

text-align:center;

}

.timeline-section h2{

font-size:3rem;

color:gold;

margin-bottom:50px;

}

.timeline{

max-width:1000px;

margin:auto;

display:grid;

gap:25px;

}

.timeline-card{

padding:30px;

background:rgba(255,255,255,.05);

border:2px solid gold;

border-radius:20px;

box-shadow:0 0 20px rgba(255,215,0,.25);

transition:.3s;

}

.timeline-card:hover{

transform:translateY(-5px);

box-shadow:0 0 30px gold;

}

.timeline-card h3{

margin-bottom:15px;

color:gold;

}

.timeline-card p{

font-size:1.1rem;

line-height:1.8;

}#floatingWishes{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

pointer-events:none;

overflow:hidden;

z-index:999;

}

.floatingWish{

position:absolute;

font-size:24px;

font-weight:bold;

color:white;

animation:floatWish 8s linear forwards;

text-shadow:0 0 15px gold;

}

@keyframes floatWish{

0%{
opacity:0;
transform:translateY(100px);
}

20%{
opacity:1;
}

100%{
opacity:0;
transform:translateY(-500px);
}

}#visitorBox{

margin-top:40px;

padding:25px;

background:rgba(255,255,255,.05);

border:2px solid gold;

border-radius:20px;

box-shadow:0 0 20px rgba(255,215,0,.3);

}

#visitorBox h3{

color:gold;

margin-bottom:10px;

}

#visitorCount{

font-size:3rem;

color:white;

text-shadow:0 0 20px gold;

}
#giftBox{

font-size:100px;

cursor:pointer;

display:inline-block;

transition:.3s;

}

.shakeGift{

animation:shakeGift .5s infinite;

}

@keyframes shakeGift{

0%{transform:rotate(-10deg);}
50%{transform:rotate(10deg);}
100%{transform:rotate(-10deg);}

}
.rating-section{

padding:100px 20px;

background:#080808;

text-align:center;

}

.rating-section h2{

font-size:3rem;

color:gold;

margin-bottom:40px;

}

.rating-card{

max-width:700px;

margin:auto;

padding:40px;

border:2px solid gold;

border-radius:25px;

background:rgba(255,255,255,.05);

box-shadow:0 0 25px rgba(255,215,0,.3);

}

.rating-card p{

font-size:1.5rem;

margin:20px 0;

}